@charset "UTF-8";

body {
    background-color: rgb(60, 183, 224);
    font: normal 1.3em arial;
}

header {
    color: white;
    text-align: center;

}
section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.34);
}
div {
    text-align: center;
}
#foto {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.181);
}
#button {
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(52, 50, 103);
    color: white;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}